@page
@{
    ViewData["Title"] = "Про нас";
	var isAuthorized = HttpContext.Session.GetString("Authorized") == "true";
}
<h2>Про банк</h2>
<p>Банкомат розроблявся з 5-го червня по 22 червня. Сайт створений 23-го червня.</p>
<p>З 21 по 22 жовтня банкомат був частково оновнений і додався новий функціонал та можливості.</p>
<p>Банк має на меті забезпечити найкращий сервіс для своїх клієнтів.</p>
<p>Не переживайте, ваші данні надійно зберігаються, тому можете не боятись за їхню втрату</p>
<p>Якщо у вас виникли питання або пропозиції, будь ласка, зв'яжіться з нашою службою підтримки.</p>
<p>Дякуємо, що обрали наш банк!</p>
<br/>
<br/>
<div class="action-buttons">

	@if (isAuthorized)
	{
		<a asp-page="/Dashboard" style="color: #0078d4; margin-left: 1rem;">Повернутись до кабінету</a>
	}
	else{
		<a asp-page="/Index" style="color: #0078d4; margin-left: 1rem;">Повернутись на головну</a>
	}

</div>
